*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

h1, h2, p {
  margin: 0;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #1e293b;
    height: 100vh;
    overflow: hidden;
}

img {
    width: 35%;
    max-height: 80vh;
    object-fit: contain;
} 

#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

#coin-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
}

#coin-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.5rem;
}

.coin-input-container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.coin-input {
  font-size: 1.2rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
}

#form-btn {
  font-size: 1.25rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
  background-color: #3b5cf6;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#form-btn:hover {
  background-color: #704aca;
}

#coin-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.3rem;
  color: white;
}

.price {
  font-weight: 700;
}